/* Styling for Find Doc web application */

body { 
	background-color: #EDEDF3;
	text-align: center; 
	width: 100%;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 80px;
	text-decoration: italic;
	position: relative;
	top: 80px;
}

p { font-family: 'Raleway', sans-serif;
	line-height: 2;
	font-size: 55px;
}

.profileButton {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	width: 300px;
	height: 100px;
	color: white;
	text-align: center;
	font-size: 50px;
}

.profileCard {
	background-color: white;
	height: 600px;
	width: 800px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin: auto;
	font-size: 35px;
}

.profileCard img {
	width: 250px;
	height: 350px;
	border: 1px solid black;
	margin-top: 50px;
	float: left;
	margin-left: 25px;
}

#map {
	position: absolute;
	bottom: 220px; left: 150px;
}

#rate {
	position: absolute;
	bottom: 220px; left: 550px;
}

#info {
	position: relative;
	top: 50px;
}

#edit {
	position: absolute;
	top: -20px;
	right: 30px;
}

.docbox {
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 300px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	right: 65px;
	top: -30px;
	position: fixed;
	text-align: center;
}

.backButton {
	width: 75px;
	position: absolute;
	top: 20px; left: 20px;
}

a { text-decoration: none; color: black; }

#search {
	width: 690px;
	height: 110px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}

#enterButton {
	width: 75px;
	position: absolute;
	right: 150px; top: 225px;
}

#add {
	position: absolute;
	width: 100px;
	right: 30px;
	bottom: 0px;
}