/* Styling for Find Doc web application */

body { 
	background-color: #EDEDF3;
	text-align: center; 
	width: 100%;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 175px;
	text-decoration: italic;
}

a { text-decoration: none; color: black; }

p { font-family: 'Raleway', sans-serif;
	line-height: 2;
	font-size: 55px;
}

#search {
	width: 700px;
	height: 110px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
}

#insurance {
	width: 500px;
	height: 100px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

input::-webkit-input-placeholder {
	position: relative;
	right: 40px;
}

.docbox {
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 300px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	right: 65px;
	top: -30px;
	position: fixed;
}

#enterButton {
	width: 75px;
	position: absolute;
	right: 175px; top: 470px;
}

footer {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: gray;
}