/* Styling for Find Doc web application */

body { 
	background-color: #EDEDF3;
	text-align: center; 
	width: 100%;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 80px;
	text-decoration: italic;
	position: relative;
	top: 20px;
}

p { font-family: 'Raleway', sans-serif;
	line-height: 2;
	font-size: 40px;
}

#rating {
	height: 50px;
	width: 75px;
	margin: auto;
}

#comment {
	height: 200px;
	width: 650px;
	margin: auto;
}

#submit, #cancel {
	width: 100px;
}

.docbox {
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 300px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	right: 65px;
	top: -30px;
	position: fixed;
	text-align: center;
}

.backButton {
	width: 75px;
	position: absolute;
	top: 20px; left: 20px;
}