/* Stylesheet for Find Doc Application */

body { background-color: #EDEDF3; }

h1, h2, h3 { 
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center; 
}

h1 { font-size: 55px; padding-top: 0;}

h2 { font-size: 45px; }

h3 { font-size: 35px; }

p { 
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 20px;
}

.profilePic {
	width: 150px;
	height: 250px;
	position: absolute;
	top: 10px;
}

.comment {
	width: 90%;
	background-color: white;
	text-align: left;
	border-radius: 20px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	margin: auto;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.businessCard {
	width: 90%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	margin: auto;
	padding-left: 15px;
	padding-top: 50px;
}

.businessCard img {
	width: 250px;
	height: 300px;
	position: relative;
	left: 10px;
}

.businessCard h3 { 
	font-size: 30px;
	text-align: center;
}

.profileButtons {
	position: relative;
	left: 20%;
}

.rateButtons {
	position: relative;
	left: 15%;
}

.googleMaps { margin: auto; }