/* Stylesheet for Find Doc Application */

body { background-color: #EDEDF3; }

h1, h2 { 
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center; 
}

h1 { font-size: 55px; padding-top: 0;}

h2 { font-size: 45px; }

h3 { font-size: 35px;}

p { 
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.fav-link {
	top: 70px;
	right: -35px;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 15px;
	-webkit-border-radius: 10px;
    -webkit-transform: rotate(-90deg);
    z-index: 100;
}

.autocomplete {
	padding-right: 40px !important;
}

.autocomplete-fill-icon {
	margin-right: -40px;
	position: absolute;
	width: 30px;
	-webkit-transform: rotate(45deg);
	float: right;
}

.autocomplete-fill {
	width: 50px;
	height: 50px;
	background-image: -webkit-linear-gradient( white,#F1F1F1 );
}

.noResultsFound {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: red;
}

.profilePic {
	max-width: 60px;
	top: 10px;
}

.profile-link {
	padding-left: 70px !important;
}

.search-info {
	margin: 15px;
	margin-top: 0px;
}

.ui-controlgroup-label {
	display: inline;
}

.ui-li-heading, .ui-li-desc {
	margin: 0px;
}

.search-ul li, .search-ul li > div:first-child {
	min-height: 100px;
}

.rating, .rated, .rated span {
	display: block;
	background: url(stars.png) 0 -16px repeat-x;
	width: 80px;
    height: 16px;
    margin-bottom: 2px;
}

.rated span {
	background-position: 0 0;
}

.rating-profile {
	margin-top: -20px;
}

.results-search-button {
	visibility: hidden;
	margin-top: -40px;
}

#comments-title {
	text-align: left;
	font-size: 25px;
	margin-top: 20px;
}

.comment {
	font-family: 'Raleway', sans-serif;
}

.businessCard h3 {
	font-size: 30px;
	text-align: center;
	margin: 0px;
}

.doctor-details {
	min-height: 100px;
}

.doctor-details img {
	width: 60px;
	max-height: 100px;
}

.img-wrapper {
	position: absolute;
}

@-webkit-keyframes image {
	0% {
		-webkit-transform: translateX(0px);
		width: 60px;
	}
	100% {
		-webkit-transform: translateX(280px);
		width: 20px;
	}
}

@-webkit-keyframes imageWrapper {
	0% { -webkit-transform: translateY(0px); }
	30% { -webkit-transform: translateY(20px); }
	40% { -webkit-transform: translateY(10px); }
	50% { -webkit-transform: translateY(0px); }
	100% { -webkit-transform: translateY(-30px); }
}

.profile-img-fav {
	-webkit-animation: image 1s ease-out;
}

.profile-img-wrapper-fav {
	-webkit-animation: imageWrapper 1s ease-out;
}

@-webkit-keyframes favHighlight {
	0% { background: rgba(0, 0, 0, 0.5); }
	10% { background: red; }
	100% { background: rgba(0, 0, 0, 0.5); }
}

.fav-highlight {
	-webkit-animation: favHighlight 1s linear;
	-webkit-animation-delay: 1s;
}

.doctor-details p {
	font-size: 15px;
	margin-left: 70px;
}

.profileButtons {
	position: relative;
	left: 10%;
}

#edit-buttons {
	position: fixed;
	left: 0;
	bottom: -5px;
	padding: 5px 0;
	z-index: 100;
	width: 100%;
	background: #EEE;
}

#editButton {
	left: 20%;
}

#addButton {
	left: 25%;
}

#swipeMe {
	margin-bottom: 60px;
}

#add-fav-title {
	margin-top: 20%;
	font-size: 30px;
}

.latitude, .longitude {
	display: none !important;
}

.wrapper {
	top: 5px;
	left: 0px;
	position: absolute;
	z-index: 1000;
	text-align: center;
	width: 100%;
}

@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.hide {
	border-radius: 10px;
	padding: 10px;
	background: rgba(221, 221, 14, 0.9);
	display: inline-block;
 
	-webkit-animation: fadeOut ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 3s;
}

.loading {
	width: 100%;
	background: rgba(221, 221, 14, 0.9);
	text-align: center;
	padding: 15px;
	z-index: 100;
}

#ratePopup { padding: 10px; }
